# Python Bytecode y Caché
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Entornos Virtuales
venv/
env/
.venv/
ENV/

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Exclusión de fotos e imágenes (excepto logo institucional del frontend)
*.jpg
*.jpeg
*.png
!static/logo_ubo.png
*.bmp
*.webp

# Archivos comprimidos y pesados
*.zip
*.rar
*.7z
*.tar.gz

# Logs temporales
*.log

